# Ambiente virtuale
venv/
.env
omnitext_backend/.env

# Python cache e file temporanei
*.pyc
__pycache__/
instance/
db.sqlite3
.DS_Store

# Log e cache
*.log
*.out
*.pid
*.swp
*.swo

# Configurazioni IDE/editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dipendenze e build
pip-log.txt
pip-delete-this-directory.txt
dist/
build/

# Cartelle di test
tests/__pycache__/
.coverage
htmlcov/
.tox/
.nox/
.cache/
